
    <div class="d-flex row activities">
        <div class="col-sm-4">
        <img src="{{picture}}" class="testingImg" alt="...">
        <h5 class="themes-titles">{{name}}</h5>
        <p class="themes-titles">{{description}}</p>
        <p class="themes-titles">Created by: <a href="/profile/{{user}}">{{author}}</a></p>
        <a href="/path/{{_id}}" class="themes-titles">View this Path</a>
        </div></a>

        