        
         <div class="otherActivites">
            <h5> <strong> {{name}}</strong></h5>
           <a href="/path/{{_id}}"> <img src="{{picture}}" class="cardImg" alt="Path image"></a>
            <p>Created by: <a href="/profile/{{user}}"> {{author}}</a></p>  
        </div>

