
        <div class="otherActivites">
            <img src="{{picture}}" class="cardImg" alt="...">
            <h5>{{name}}</h5>
            <p style="margin: 0">{{description}}</p>
            <p style="margin: 0">Created by: <a href="/profile/{{user}}"> {{author}}</a></p>
            <a href="/path/{{_id}}">View this Path</a></a>
        </div>

        